# Dependencies
node_modules/
package-lock.json

# Hardhat
cache/
artifacts/
typechain/
typechain-types/

# Coverage
coverage/
coverage.json

# Ignition
ignition/deployments/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Build
dist/
build/

# Local Netlify folder
.netlify
